.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input,
textarea {
    border: 2px solid black;
}

label {
    margin-right: 20px;
}

.hdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

form {
    display: flex;
    /* width: 30%; */
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between
}